@model DDB.DVDCentral.BL.Models.ShoppingCart

<div class="m-2">
    <div class="header rounded-top">
        <h4>Shopping Cart</h4>
    </div>
    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            @{
                int count = Model.TotalItems;
                <input hidden id="cartcount" value="@count" />
                <a asp-controller="ShoppingCart" asp-action="Index" id="cartcountdisp">@count.ToString() items</a>
                <br />
                if(count > 0)
                {
                    <a id="checkout-link" asp-controller="ShoppingCart" asp-action="Checkout">Checkout</a>
                }
                else
                {
                    <a id="checkout-link" display="none" asp-controller="ShoppingCart" asp-action="Checkout">Checkout</a>
                }

                    
                

            }
        </dd>
    </dl>
</div>
