@model DVDCentral.BL.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-8">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipDate" class="control-label"></label>
                <input asp-for="ShipDate" class="form-control" />
                <span asp-validation-for="ShipDate" class="text-danger"></span>
            </div>

                @if (Model.OrderItems.Any())
                {
                    <div class="row">
                        <h4 class="col-md-8 rounded">Order Items:</h4>
                    </div>
                    <div class="row">
                        <table class="col-md-8 table">
                            <tr>
                                <th>Movie Title</th>
                                <th>Cost</th>
                                <th>Quantity</th>
                                <th>Total Cost</th>
                            </tr>
                            @foreach (var item in Model.OrderItems)
                            {
                                <tr>
                                    <td>@item.MovieTitle</td>
                                    <td>@item.Cost</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.TotalCost</td>
                                </tr>
                            }
                        </table>
                    </div>
                }


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
