@model IEnumerable<DVDCentral.BL.Models.Genre>


<div class="header rounded-top">
    <h4>Search By Genre</h4>
</div>

<div>
    <ul>
        @foreach (var genre in Model)
        {
            <li>
                <a asp-controller="Movie"
                   asp-action="Browse"
                   asp-route-id="@genre.Id">@genre.Description</a>
            </li>
        }
        <li>
            <a asp-controller="Movie"
               asp-action="Index">All Movies</a>
        </li>
    </ul>
</div>
