@model IEnumerable<DDB.DVDCentral.BL.Models.Genre>

<h3>Search Movies By Genre</h3>
<ul>
    @foreach(var genre in Model)
    {
        <li>
            <a asp-controller="Movie"
               asp-action="Browse"
               asp-route-id="@genre.Id">@genre.Description</a>
        </li>
    }
    <li>
        <a asp-asp-controller="Movie"
           asp-action="Index">All Movies</a>
    </li>
</ul>
