@model IEnumerable<DVDCentral.BL.Models.OrderItem>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
        <a asp-action="Create">Create New</a>
</p>

<div>
    <partial name="_OrderItemsPartial" model="Model" />
</div>
