@model IEnumerable<DVDCentral.BL.Models.Order>


<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-controller="Movie"
                   asp-action="Browse"
                   asp-route-id="@genre.Id">@genre.Description</a>
            </li>
        }
        <li>
            <a asp-controller="Movie"
               asp-action="Index">All Movies</a>
        </li>
    </ul>
</div>
