@model IEnumerable<DVDCentral.BL.Models.OrderItem>


<div>
    @if (Model.Any())
    {
        <table>
            <tr>
                <th>Movie Title</th>
                <th>Cost</th>
                <th>Quantity</th>
                <th>Total Cost</th>
            </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MovieTitle</td>
                <td>@item.Cost</td>
                <td>@item.Quantity</td>
                <td>@item.TotalCost</td>
            </tr>
        }
        </table>
    }
    
</div>
