html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul a{
    text-decoration: none;
}

.header{
    background-color: lightslategray;
    color: black;
}

.table tr:nth-child(even){
    background-color: lightgray;
}
.bg-dark {
    background: linear-gradient(90deg,lightgray 0%, lightslategray 35%);
}
.table{
    margin-bottom: 10px;
}

.card-img{
    width: 100%;
}
.card-img img{
    max-width: 100%;
    max-height: 400px;
}
.card-header-cust{
    background-color: rgba(lightslategray, .25);
}
.imagepropsmall {
    width: 100px;
    height: 75px;
}

.imagepropmedium {
    width: 50%;
}

.imageproplarge {
}
#output{
    display:inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
#imageproplarge{
    height: 70%;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.col-odd{
    background-color: lightgray;
}

.order-info-details ul{
    list-style: none;
}